body{
    margin: 0;
    font-family: lobster;
    font-weight: bold;
    font-size: 25px;
    color: goldenrod;
    text-align: center;
    background-size: cover;
    background-image: url("img/chips.jpg");
    background-color: black;
}

button{
    width: 100px;
    height: auto;
    padding: 5px;
    background-color: goldenrod;
    font-weight: bold;
    border: none;
    border-radius: 5px;

}
#message-ele{
    font-style: italic;
}
p{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dealer{
    border: 3px goldenrod solid;
    border-radius: 4px;
    width: 300px;
    margin: 2.5px;

}

.player{
    border: 3px goldenrod solid;
    border-radius: 4px;
    width: 300px;
    margin: 2.5px;
    background: black;
}